<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="@string/app_name"



        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Définir SplashActivity comme activité principale -->
        <activity android:name=".SplashActivity"
            android:exported="true">
            <!-- Intent filter pour que SplashActivity soit l'activité principale -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SongSelectionActivity" />
        <activity android:name=".GameActivity" />




        <!-- MainActivity sans intent-filter MAIN -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <!-- Pas d'intent-filter MAIN ici pour ne pas que MainActivity soit lancée directement -->
        </activity>

        <activity android:name=".PauseActivity">
            <!-- Optionnel : Ajouter des attributs si nécessaire -->
        </activity>

        <activity android:name=".HomeActivity" />
        <activity android:name=".SelectionActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".FavoritesActivity">


            <!-- Vous pouvez ajouter ici des attributs si nécessaire -->
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />






    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


</manifest>
